.zadaci-oduzimanje-page {
  margin: 0;
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
  position: relative;

  height: auto; 
  display: flex;
  flex-direction: column;
}
.main-content-zadaci-oduzimanje{
  display: flex;
  flex-direction: column;
}
.zadaci-oduzimanje-navigation {
  display: flex;
  align-items: center;
  gap: 1rem; 
  padding-bottom: 10px;
  margin: 1rem;
}
.zadaci-oduzimanje-navigation > * {
  height: 3rem; 
  padding: 0 1rem; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  border-radius: 8px; 
  text-decoration: none; 
  font-size: 1rem; 
}

  
.back-button-zadaci-oduzimanje {
  font-weight: bold;
  color: black;
  background-color: white;
  border: 1px solid;
  cursor: pointer;
  max-width: 50px;
}

.back-button:hover {
  background-color: #e0e0e0;
}

.zadaci-oduzimanje-title {
  font-size: x-large;
  font-weight: 300;
  flex-grow: 1; 
  text-align: center;
  background-color: #ffffff;
  border: 1px solid;
}

.novi-zadatak-button{
  font-family: Poppins;
  margin: 0.1rem;
  align-self: baseline;
}