
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
  
.login-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
  
 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}
  
.profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
  
.profile-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #ddd;
}
  

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background: url('/public/registerBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}
  

  
  .info-box {
    margin-bottom: 8rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    text-align: center;
  }
  
  
  .auth-box {
    display: flex;
    width: 60%;
    max-width: 800px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .login-section, .register-section {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login-section h2, .register-section h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  

  
  input {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  button {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  .google-login {
    background-color: #4285F4;
    color: #fff;
  }
  
  .register-button {
    padding: 0.75rem 1.5rem;
    background-color: #6c63ff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    text-align: center;
  }
  
  .divider {
    width: 1px;
    background: #ddd;
    margin: 0 1rem;
  }
  