.zadaci-zbrajanje {
    min-height: 100vh;
    background: url('/public/izbornikBackground.jpeg') no-repeat center center fixed;
    background-size: cover;
}


.main {
    height: auto;
}

.content-box {
    border-radius: 0.5rem;
    padding: 1.5rem;
    min-height: 100vh;
}


.progress-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.progress-title,
.progress-status {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
}

.progress-status {
    background-color: #4c51bf;
    color: white;
}

.progress-buttons {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
}

.action-button {
    color: black;
    background-color: #B9C7D9;
    border-radius: 8px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}

.action-button:hover {
    background-color: #d6d6d6;
}


.question-card {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1rem;
}

.question-content {
    display: flex;
    justify-content: space-between;
}

.question-text{
    margin-right: 15%;
}

.question-title {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.question-options > div {
    margin-bottom: 0.25rem;
}

.arrow-graphics {
    background-color: #4c51bf;
    width: 10rem;
    height: 8rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:15%;
}

.help-button {
    align-self: flex-start;
    background-color: #B9C7D9;
    border-radius:8px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    color: black;
    font-size: 1.5rem;
}

.help-button:hover {
    background-color: #d6d6d6;
}


.empty-card {
    background-color: #ffffff;
    border-radius: 8px;
    height: 8rem;
    margin-bottom: 1rem;
}
