.arrow-1 {
    fill: #6a5acd; /* ljubičasta */
  }
  .arrow-2 {
    fill: #c71585; /* bordo crvena */
  }
  .arrow-3 {
    fill: #00c700; /* zelena */
  }
  .arrow-4 {
    fill: #41bce5; /* svijetlo plava */
  }
  .arrow-5 {
    fill: #00008b; /* tamno plava (skoro ljubičasta) */
  }
  
  .correct {
    background-color: green;
    color: white;
  }
  
  .incorrect {
    background-color: red;
    color: white;
  }
  